@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);



#dropdown-menu-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3 .nav .link,
#dropdown-menu-3 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-3 .navbar,
#dropdown-menu-3 .dropdown-menu {
  background: #f2f2f2;
}
#dropdown-menu-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3 .dropdown-menu a:hover,
#dropdown-menu-3 .dropdown-menu a:focus {
  background: #e8e8e8;
}
#dropdown-menu-3 .navbar-toggler {
  color: #000000;
}
#header2-4 H1 {
  color: #ffffff;
  font-size: 60px;
}
#header2-4 P {
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header2-4 B {
  color: #ffffff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
}
#content5-7 P {
  text-align: left;
}
#content5-b .mbr-section-title {
  color: #000000;
}
#content5-b P {
  color: #000000;
}
#testimonials1-e .mbr-section-title {
  color: #000000;
}
#footer1-f P {
  color: #000000;
}
#form1-g .mbr-section-title {
  color: #ffffff;
}

#content5-r .mbr-section-title {
  text-align: center;
}
#dropdown-menu-h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-h .nav .link,
#dropdown-menu-h .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-h .navbar,
#dropdown-menu-h .dropdown-menu {
  background: #f2f2f2;
}
#dropdown-menu-h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-h .dropdown-menu a:hover,
#dropdown-menu-h .dropdown-menu a:focus {
  background: #e8e8e8;
}
#dropdown-menu-h .navbar-toggler {
  color: #000000;
}
#footer1-i P {
  color: #000000;
}

#dropdown-menu-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-o .nav .link,
#dropdown-menu-o .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-o .navbar,
#dropdown-menu-o .dropdown-menu {
  background: #f2f2f2;
}
#dropdown-menu-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-o .dropdown-menu a:hover,
#dropdown-menu-o .dropdown-menu a:focus {
  background: #e8e8e8;
}
#dropdown-menu-o .navbar-toggler {
  color: #000000;
}
#footer1-p P {
  color: #000000;
}
