@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#dropdown-menu-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3 .nav .link,
#dropdown-menu-3 .dropdown-item {
  font-size: 1.4em;
  color: #5bc0de;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-3 .navbar,
#dropdown-menu-3 .dropdown-menu {
  background: #f1c050;
}
#dropdown-menu-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3 .dropdown-menu a:hover,
#dropdown-menu-3 .dropdown-menu a:focus {
  background: #efb93d;
}
#dropdown-menu-3 .navbar-toggler {
  color: #5bc0de;
}
#header2-4 H1 {
  color: #dddddd;
}
#header2-4 P {
  color: #dddddd;
  font-size: 22px;
}
#header2-4 B {
  color: #ffffff;
}
#form1-g .mbr-section-title {
  color: #ffffff;
}
